@model List<QRSurprise.Models.DAL.Entities.Recipe>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_RecipesLayout.cshtml";
    var categories = ViewBag.Categories;
}
<h2>Yemek Tarifleri</h2>

<form method="get" class="row g-2 mb-4">
    <div class="col-md-4">
        <select name="category" class="form-select" onchange="this.form.submit()">
            <option value="">Tüm Kategoriler</option>
            @foreach (var k in categories)
            {
                <option value="@k" >@k</option>
            }
        </select>
    </div>
    <div class="col-md-6">
        <input type="text" name="arama" class="form-control" placeholder="Yemek ara..." value="@ViewBag.Search" />
    </div>
    <div class="col-md-2">
        <button type="submit" class="btn btn-primary w-100">Ara</button>
    </div>
</form>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">@item.Title</h5>
                    <p class="card-text text-truncate">@item.RecipeCategory.Title</p>
                    <a href="@Url.Action("RecipeDetails", "UserResipe", new { id = item.Id })" class="btn btn-primary">Tarifi Gör</a>
                </div>
            </div>
        </div>
    }
</div>
