@using X.PagedList.Mvc.Core
@model QRSurprise.Models.DAL.ViewModels.RecipeIndexViewModel
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_RecipesLayout.cshtml";

}
<h2>Yemek Tarifleri</h2>
<div class="container my-4">
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
            <h5 class="mb-0">Tarif Filtreleme</h5>
        </div>

        <div class="collapse show" id="filterForm">
            <form method="post" asp-action="GetRecipeByCategory">
                <div class="card-body">
                    <div class="row g-3 align-items-end">
                        <div class="col-md-6">
                            <label asp-for="SelectedCategoryId" class="form-label fw-bold">Kategori Seçin</label>
                            @Html.DropDownListFor(
                                     m => m.SelectedCategoryId,
                                     (SelectList)ViewBag.Categories,
                                     "Kategori Seçiniz...",
                                     new { @class = "form-control" })
                        </div>
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-success w-100 mt-md-0 mt-2">
                                <i class="fas fa-filter"></i> Filtrele
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="row">
    @foreach (var item in Model.Recipes)
    {
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">@item.Title</h5>
                    <p class="card-text text-truncate">@item.RecipeCategory.Title</p>
                    <a href="@Url.Action("RecipeDetails", "UserResipe", new { id = item.Id })" class="btn btn-primary">Tarifi Gör</a>
                </div>
            </div>
        </div>
    }
</div>
<div class="d-flex justify-content-center mt-4">
    @Html.PagedListPager(Model.Recipes, page => Url.Action("Index", new { page }), new PagedListRenderOptions
{
    DisplayLinkToFirstPage = PagedListDisplayMode.Always,
    DisplayLinkToLastPage = PagedListDisplayMode.Always,
    DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
    DisplayLinkToNextPage = PagedListDisplayMode.Always,
    Display = PagedListDisplayMode.IfNeeded,
    MaximumPageNumbersToDisplay = 5,
    UlElementClasses = new[] { "pagination" },
    LiElementClasses = new[] { "page-item" },
    PageClasses = new[] { "page-link" }
})
</div>
