@model QRSurprise.Models.DAL.Entities.Recipe;
@{
    ViewData["Title"] = "UpdateRecipe";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Tarifi Düzenle</h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Tarif <small>Düzenleme Ekranı</small></h3>
                    </div>
                    <form method="post" asp-action="UpdateRecipe">
                        <div class="card-body">
							<input type="hidden" asp-for="x=> x.Id"/>
                            <div class="form-group">
                                @Html.Label("Yemek Adı:")
                                @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                @Html.Label("Malzemeler:")
                                @Html.TextAreaFor(x => x.Ingredients, new { @class = "form-control tinymce" })
                            </div>
                            <div class="form-group">
                                @Html.Label("Yapılışı:")
                                @Html.TextAreaFor(x => x.Instruction, new { @class = "form-control tinymce" })
                            </div>
                            <div class="form-group">
                                @Html.Label("Kategori Adı:")
                                @Html.DropDownListFor(x => x.RecipeCategoryId, (SelectList)ViewBag.Categories, "Kategori Seçiniz.", new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Güncelle</button>
                            <a href="/Admin/Recipe/DeleteRecipe/@Model.Id" class="btn btn-danger">Sil</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

